USE [master]
GO
/****** Object:  Database [coronadb]    Script Date: 27-08-2020 13:44:14 ******/
CREATE DATABASE [coronadb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'coronadb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\coronadb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'coronadb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\coronadb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [coronadb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [coronadb]
GO
/****** Object:  Table [dbo].[KIT]    Script Date: 27-08-2020 13:44:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIT](
	[contact] [nchar](10) NULL,
	[kid] [nchar](10) NULL,
	[pid] [nchar](10) NULL,
	[quantity] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 27-08-2020 13:44:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[ProductName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Cost] [numeric](18, 0) NULL,
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 27-08-2020 13:44:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[name] [nchar](10) NULL,
	[contact] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[address] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
